/* Write your code here. */
.emoji-card-container {
  background-color: #9796f0;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.emoji-button {
  background-color: transparent;
  border: none;
}
